body {
    background-image: url("../assets/bc-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway';
}

h2 {
    padding: 15px 0;
    margin: 0;
}

/* *****  MAIN ***** */ 
.container {
    width: 80%;
    margin: 2em auto;
    text-align: center;
    /*padding: 2em auto;*/
    box-sizing: border-box;
}

.row {
    padding: 1em;
}

/* *****  CONTAINER - SEARCH-GIFS ***** */ 
#searchGif {
    box-sizing: border-box;
}

#searchGif > * {
    position: relative;
}

#searchGif h2 {
    margin: 0;
    top: .3em;
}

#searchGif.row div.col.s12 {
    border: 1px solid white;
    margin-top: 0;
    padding: 1.5em;
}

#searchGif div.col.s12 button {
    border-radius: 20px;
    margin-top: 2em;
}


/* *****  CONTAINER - INSERT-GIFS ***** */ 
#elementos {
    min-height: 15em;
    padding: 2em 1em;
    border: 3px dotted gold;
    background-color: rgba(0 0 0 .5);
}

img.elemento {
    margin: 5px;
    display: inline-flex;
    position: relative;
    max-width: 200px; /* Medida sugerida por Giphy para mobile*/
    height: 200px;/* Medida sugerida por Giphy para mobile*/
    border-radius: 10px;
}

.itemsCount {
    display: block;
    color: white;
}

p {
    color: white;
    font-size: 2em;
    text-align: left;
}