body {
    background-color: aquamarine;
    font-family: 'Raleway';
}

/* *****  MAIN ***** */ 
.container {
    width: 80%;
    margin: 8em auto;
    text-align: center;
    padding: 4%;
    box-sizing: border-box;
}

.row {
    padding: 1em;
}

/* *****  CONTAINER - INSERT GIFS ***** */ 
#searchGif {
    box-sizing: border-box;
}

#searchGif > * {
    position: relative;
}

#searchGif h2 {
    margin: 0;
    top: .3em;
}

#searchGif div.col.s12 {
    border: 1px solid white;
    margin-top: 3.5em;
    padding: 1.5em;
}

#searchGif div.col.s12 button {
    border-radius: 20px;
    margin-top: 2em;
}


/* *****  CONTAINER - INSERT GIFS ***** */ 
/*#insertGif {
    padding: 2em 1em;
}*/

#elementos {
    min-height: 15em;
    padding: 2em 1em;
    border: 3px dotted gold;
    background-color: rgba(0 0 0 .5);
}

img.elemento {
    margin: 5px;
    display: inline-flex;
    position: relative;
    max-width: 200px; /* Medida sugerida por Giphy para mobile*/
    height: 200px;/* Medida sugerida por Giphy para mobile*/
    border-radius: 10px;
}

.itemsCount {
    display: block;
    color: white;
}